{% extends 'base.html' %}
{% load static %}
 {% block title %} Services {% endblock %}

 {% block content %}


    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'eagle_app:home' %}">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Proposals that are community-centered and offer practical, scalable and sustainable solutions.
        </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="">
              <div class="">
                <i class=""></i>
              </div>
              <h3>Farmer registration</h3>
              <p>Farmer Registration and Profile Management:

                Farmers can create profiles to showcase their farm produce, including details about quantity, quality, and availability.</p>
              <a href="" class="">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="">
              <div class="">
                <i class=""></i>
              </div>
              <h3>Supply Queue system</h3>
              <p>Supply Queue System:

                Farmers can queue their harvests for supply to local food outlets based on demand and quality standards.</p>
              <a href="" class="">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="">
              <div class="">
                <i class=""></i>
              </div>
              <h3>Demand insights</h3>
              <p>Demand Insights:

                Real-time updates on foods running low at different locations, helping farmers plan and prioritize their supply.
                </p>
              <a href="" class="">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="">
              <div class="">
                <i class=""></i>
              </div>
              <h3>Quality and Quantity checks</h3>
              <p>Quality and Quantity Checks:

                Tools to verify the quality and quantity of produce to meet outlet requirements.</p>
              <a href="" class="">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="">
              <div class="">
                <i class=""></i>
              </div>
              <h3>Location based matching</h3>
              <p>Location-Based Matching:

                Connects farmers with nearby food outlets, reducing transportation costs and ensuring fresh delivery.</p>
              <a href="" class="">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="">
              <div class="">
                <i class=""></i>
              </div>
              <h3>Accessible interface</h3>
              <p>Accessible Interface:

                A simple and intuitive platform designed for ease of use by farmers with minimal tech skills.</p>
              <a href="" class="">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    {% endblock %}

 